* {
  font-family: "trebuchet MS";
}

a {
    color: black;
    text-decoration: none;
}

body {
  margin: 0;
}

.page {
    margin: 20px;
}

.topbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 2px solid black;
  }

.logo-container {
    margin-top: 5px;
    display: flex;
    flex-direction: row;
    align-content: center;
    height: 43px;
}

.logo {
    height: 40px;
}
.name {
    font-size: 50px;
    font-weight: 400;
    line-height: 40px;
    text-transform: uppercase;
}

.buttonlogo{
    height: 16px;
    opacity: 0;
}

.nav {
    text-align: right;
    text-transform: uppercase;
}

.nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 5px;
  align-items: flex-start;
}

.nav ul li{
    padding-left: 5px;
    display: flex;
    flex-direction: row;
    align-content: flex-start;
    height: 62px;
}

.nav ul li a{
    color: black;
    line-height: 16px;
    height: 16px;
    padding-left: 1px;
}

.nav ul li:hover .buttonlogo{
    opacity: 1;
}

.nav ul li:active .buttonlogo{
    opacity: 1;
}

#writing {
  display: none;
}

#research {
  display: none;
}

#design {
  display: none;
}

#blog {
  display: none;
}

#footer{
    border-top: 1px #ccc solid;
    position: absolute;
    bottom: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}
    #footer p{
        text-align: center;
        text-transform: uppercase;
        font-size: 80%;
        color: grey;
    }
