h1, h2, h3, h4{
    color: orange;
    font-weight: normal;
    line-height: 1.1em;
    margin: 0 0 .5em 0;
}
h1 { font-size: 1.7em; }
h2 { font-size: 1.5em; }
a {
    color: black;
    text-decoration: none;
}
    a:hover,
    a:active{ text-decoration: underline; }

.page { margin: 20px; }

.logo-container {
    margin-top: 5px;
    display: flex;
    flex-direction: row;
}
.logo {
    height: 40px;
}
.name {
    font-family: sans-serif;
    font-size: 43px;
    font-weight: 400;
    height: 40px;
}

.vertical-centered {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.topbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }


.nav {
    text-align: right;
    float: right;
}
.nav ul{}
.nav ul li{
    display: inline-block;
    height: 62px;
}

.nav ul li a{
    padding: 20px;
    background: orange;
    color: white;
}

.nav ul li a:hover{
    background-color: #ffb424;
    box-shadow: 0px 1px 1px #666;
}

.nav ul li a:active{ background-color: #ff8f00; }

.content{
    margin: 30px 0;
    background: white;
    padding: 20px;
    clear: both;
}
#footer{
    border-bottom: 1px #ccc solid;
    margin-bottom: 10px;
}
    #footer p{
        text-align: center;
        text-transform: uppercase;
        font-size: 80%;
        color: grey;
    }

.content,
ul li a{ box-shadow: 0px 1px 1px #999; }
